extends layout

block content
    .bg-gray-200.px-4.py-4
        .(class='md:max-w-6xl md:mx-auto md:flex md:items-center md:justify-between' 'x-data'='{ open: false }' 'x-cloak'='')
            .flex.justify-between.items-center
                a.inline-block.py-2.text-gray-800.text-2xl.font-bold(href='#')
                    Lineysoft
    
     