doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Facturacion Electronica - Peru
  link(rel='stylesheet', href='https://lineysoft.s3-us-west-2.amazonaws.com/assets/css/tailwind/tailwind.min.css')
  link(rel='icon', href='htts://lineysoft.s3.us-west-2.amazonaws.com/assets/img/invoice.ico')
  body
    block content
    script(src='https://lineysoft.s3-us-west-2.amazonaws.com/assets/js/alphine/alpine.js')
