doctype html
html
  head
    link(rel='icon', type='image/png' href='https://lineysoft.s3.us-west-2.amazonaws.com/assets/img/invoice.ico')
    link(rel='stylesheet', href='https://lineysoft.s3-us-west-2.amazonaws.com/assets/css/tailwind/tailwind.min.css', type='text/css' )
    script(type='text/javascript', src='https://lineysoft.s3-us-west-2.amazonaws.com/assets/js/alphine/alpine.js')
    title= Factura

    body
      block content
